* {
  font-family: 'Puritan', sans-serif;
}

.navbar-custom {
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

.navbar-default .navbar-brand {
  color: white;
}

#nav-logo {
  font-family: 'Nova Round', cursive;
  font-size: 2em;
  display: inline;
}

#nav-alert {
  text-align: center;
  width: 60%;
  display: inline;
  margin-left: 10%;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}

.navlink {
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  margin-left: -10px;
}

/* start.html styling */

.row {
  background-repeat: no-repeat;
  height: 700px;
}

#row1 {
  background-image: url("../images/skyline.png");
  background-size: cover;
  background-position: center center;
  margin-left: 0px;
  margin-top: 25px;
}

#start-textbox1 p {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: white;
}

#logo {
  text-align: center;
  font-size: 11em;
  margin-top: 6%;
}

#logo a {
  color: white;
  font-family: 'Nova Round', cursive;
}

#logo a:hover {
  /*color: white;*/
  text-decoration: none;
}

/* map.html styling */

.angular-google-map-container {
  position:absolute;
  width:auto;
  height: auto;
  top:50px;
  left:0;
  right:0;
  bottom:0;
  img {
    max-width: none;
  }
}

/* signin.html styling */

#signin-background {
  background-image: url("../images/venice.png");
  background-size: cover;
  background-position: center center;
  height: 700px;
  position: relative;
}

#signin-container {
  margin-top: 10%;
  margin-left: 62%;
  width: 30%;
  height: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  position: absolute;
}

#signin-header {
  padding: 25px 0 25px 0;
  font-size: 3.5em;
  font-family: 'Oswald', sans-serif;
}

#signin-container p {
  margin-top: 10px;
}

#signin-submit {
  margin-top: 10px;
}

input.ng-invalid {
  border: 1.5px solid red;
}
input.ng-valid {
  border: 1.5px solid green;
}

/* signup.html styling */

#signup-background {
  background-image: url("../images/lifeguard.png");
  background-size: cover;
  background-position: center center;
  height: 750px;
  position: relative;
}

#signup-container {
  margin-top: 8%;
  margin-left: 65%;
  width: 30%;
  height: 65%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  position: absolute;
}

#signup-header {
  padding: 15px 0 15px 0;
  font-size: 3.5em;
  font-family: 'Oswald', sans-serif;
}

#signup-submit {
  margin-top: 10px;
}

/* Media Queries */

@media only screen 
and (max-width : 1150px) {
  #nav-alert {
    font-size: 1.65em;
    margin-left: 2%;
  }
}

@media only screen 
and (max-width : 200px) {

  #logo {
    font-size: 100px;
  }

}

@media only screen 
and (max-width : 768px) {

  #logo {
    margin-top: 15%;
    font-size: 6em;
  }

  #nav-alert {
    font-size: 1.4em;
    width: 100%;
  }
}